.phone-number-modal-backhround{
    width: 100vw;
    height: 100vh;
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    opacity: .8;
    cursor: not-allowed!important;
    z-index: 1;
}
.phone-number-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
    width: 450px;
    height: 120px;
    border-radius: 16px;
    padding: 24px;
}
.closeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
    font-weight: bolder;
    font-size: 18px;
    background-color: whitesmoke;
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
}
.closeButton:hover{
    color: white;
    background-color: red;
}
.error-text{
    display: flex;
    justify-content: center;
    font-size: large;
}
.ph-no{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    font-size: 36px;
}